@charset "UTF-8";

@font-face {
    font-family: 'idroid';
    src: url(fontes/idroid.otf);
}

  @import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600&display=swap');


@font-face {
    font-family: 'padrao';
    src: url(fontes/norwester.otf);
}

main a{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color:#1A5C38;
    
}

main > h1{
    color: #1A5C38;
    padding: 15px 0px 6px 10px;
    text-align: left;
    font-family: idroid;
    font-size: 22px;
}

main > h2{
    color: #1A5C38;
    background-image: linear-gradient(to right, #3ad07eb5, white);
    padding: 0px 0px 6px 10px;
    text-align: left;
    font-family: idroid;
    font-size: 20px;
}

* {
    font-family: 'Courier New', Courier, monospace; 
    margin: 0;
    box-sizing: border-box;
  }
body {
    background-color: #3AD07D;
}

.headgeral > p{
    text-shadow: 2px 1px 1px rgba(0, 0, 0, 0.235);
}

.headgeral>h1{
    font-family: 'Oswald', sans-serif;
    padding-bottom: 6px;
    text-shadow: 2px 1px 1px rgba(0, 0, 0, 0.235);
}

.menu > a{
    font-family: 'Oswald', sans-serif;
    padding-bottom: 6px;
    text-shadow: 2px 1px 1px rgba(0, 0, 0, 0.235);
}

.divlista{
    box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.369);
    border-radius: 15px;
    padding-bottom: 10px;
    margin: auto;
    width: 95%;
    background-color: #c4e9d4;
}

.headlista{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    color: white;
    background-color: #2FA866;
}

.headgeral {
    font-family: 'Oswald', sans-serif;
    color: white;
    text-align: center;
    background-image: linear-gradient(to top, #1A5C38,#3AD07D);
    height: auto;
    width: 100%;
    margin: 0;
    padding: 25px;
    background-color: aliceblue;
}

main {
    min-width: 300px;
    max-width: 800px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;

    background-color: white;
    text-align:justify;
    margin: auto;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

a {
    text-decoration: none;
}

main  img{
    display: block;
    width: 100%;
    margin: auto;
    
}

.bugdroid{
    max-width: 300px;
    height: auto;
    display: block;
    margin: 0 auto;
    max-height: 300px;
}

main  p, article{
    padding: 15px;
    font-family: Arial, Helvetica, sans-serif;

}

.menu {
    color: white;
    padding-top: 25px;
    text-align: left;
    text-decoration: none;
}


.menu a:visited,
.menu a:active{
    color: white;
}

iframe{
    width: 100%;
}

footer{
    padding: 30px 0px 0px 0px;
}

footer p{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px 0px 10px 0px;
    color: white;
    background-color: #1A5C38;
}

footer a{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-weight: bold;
}

li a{
    color: black;
    text-decoration: none;
    font-weight:300;
}